<h1>Welcome to Olena's  Flickr</h1>
<div class="login-button">
	<%= button_to "Login here", new_user_session_url, :method => :get %>
</div>
<br>
<br>
<div class="sign-up">
<%= button_to "Sign Up for Account here", new_user_registration_url, :method => :get %>	  
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h8>Disclaimer<h8>
	<p>
		This web application was created for educational purposes only, without any pursuit for financial enrichment.
	</p>