<div class="front-page">
<h1 style="text-align:center">Welcome to Olena's  Flickr</h1>
<br>
<br>
<br>
<br>
<div style="text-align:center">
<form id="guest-user-signup">
	<input class="btn btn-large" type="submit" name="some_name" value="GUEST" id="guest_user_submit">
</form>
</div>

<br>
<br>
<br>
<div class="login-button" style="text-align:center">
	<%= button_to "Login here", new_user_session_url, :method => :get, :class => "btn btn-large" %>
</div>
<br>
<br>
<br>
<div class="sign-up" style="text-align:center">
<%= button_to "Sign Up for Account here", new_user_registration_url, :method => :get, :class => "btn btn-large" %>	  
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h8>Disclaimer<h8>
	<p>
		This web application was created for educational purposes only, without any pursuit for financial enrichment.
	</p>
</div>