<h1>Welcome to Olena's  Flickr</h1>
<div class="login-button">
	<%= button_to "Login here", new_user_session_url, :method => :get %>
</div>
<br>
<br>
<div class="sign-up">
<%= button_to "Sign Up for Account here", new_user_registration_url, :method => :get %>	  
</div>