<div class="front-page">
<h1 style="text-align:center">Welcome to Olena's  Flickr-Light</h1>


<h2>Disclaimer</h2>
	<p>
		This web application was created for educational purposes only, without any pursuit of financial enrichment.
	</p>
</div>

<div>This page is under construction.</div>
<h2>See my other projects at <a href="http://livash.github.io">http://livash.github.io</a></h2>