
<% current_user.photos.each do |photo| %>
	<div class="photo-thumbnail" id="photo_id_<%= photo.id%>">
		
			<img src="<%= photo.image.url(:thumb) %>" class="thumbnail-photo"></img>

	</div>
<% end %>
