<div class="album-tile" class="thumbnail">
	<table>
		<tr><td>
			<% album.photos.first ? photo = album.photos.first : photo = current_user.photos.first %>
			<a href="<%= album_url(album)%>">
				<%= image_tag photo.image.url(:thumb), :class => "album-first-photo" %>
			</a>
		</td></tr>
		<tr><td>
			<%= album.title %>, <%=album.photos.count%> photos
		</td></tr>
	</table>
</div>