<h1>Your photo albums:</h1>
<%#= link_to "Add new album here", new_album_url, :method => :get %>
<br>
<div class='album-tiles'>
<% @albums.each do |album| %>
	<%= render partial: "album_index_tile", locals: {album: album} %>
<% end %>
<%#= render :partial => "new_album_tile"%>
</div>
<br>
<div class="album-tiles">
	<%= render :partial => "galleries/galleries_explore" %>
</div>
<div class='new-album-form'>
	<%= render partial: "album_form" %>
</div>
