<h1>Your photo albums:</h1>
<div class='album-tiles'>
<% @albums.each do |album| %>
	<%= render partial: "album_index_tile", locals: {album: album} %>
<% end %>
</div>
<br>
<div class='new-album-form'>
	<%= render partial: "album_form" %>
</div>
