<div class=header></div>
<div class="side-bar"></div>
<div class="content"></div>
<div class="footer"></div>

<script>


$(document).ready(function(){
	console.log("on DOC READY...................");
  Flickr.initialize();
});
</script>