<div class="single-photo">
	<a class="btn btn-large btn-inverse" href="<%= album_photo_url(@album, @photo_previous) %>"><i class="icon-step-backward"></i></a>
	<%#= link_to "Previous #{@photo_previous.id}", album_photo_url(@album, @photo_previous), :method => :get %>
	<%= image_tag @photo.image.url, :class => "single-photo-image" %>
	<%#= link_to "Next #{@photo_next.id}", album_photo_url(@album, @photo_next), :method => :get %>
	<a class="btn btn-large btn btn-inverse" href="<%= album_photo_url(@album, @photo_next) %>"><i class="icon-step-forward"></i></a>
</div>
</div>
<br>