<!-- beggining of the div on line 3 is in the _nav-bar -->
  <div id="push"></div>
</div>
<div id="footer">
	<div class="container" style="background-color:#f5f5f5">
		<div class="foot-col-custom" style="font-size:12px;line-height:15px;width:20%;float:left">
			<dl>
				<dt>About Flickr-Light</dt>
				<dd><a href="/home/">Creator: Olena I.</a></dd>
				<dd><a href="#/contributors/">Contributors</a></dd>
				<dd><a href="http://olena-blog.tumblr.com/">Blog</a></dd>
			</dl>
		</div>
		<div class="foot-col" style="font-size:12px;line-height:15px;width:20%;float:left">
			<dl>
				<dt>Resources</dt>
				<dd><a href="https://github.com/livash/Flicker">github</a></dd>
				<dd><a href="http://www.flickr.com/">Original Flickr</a></dd>
			</dl>
		</div>
		<div class="foot-col" style="font-size:12px;line-height:15px;width:20%;float:left">
			<dl>
				<dt>Special Thanks</dt>
				<dd><a href="http://www.appacademy.io">App Academy</a></dd>
				<dd><a href="http://www.appacademy.io/#p-staff">Ned Ruggeri</a></dd>
			</dl>
		</div>
	</div>
</div>