<div>
	<% if @photo.description.length > 0 %>
	<div class="photo-description" data-id="photo-<%= @photo.id %>">
		<%= @photo.description %>
	</div>
	<% else %>
	<div class="photo-description" data-id="photo-<%= @photo.id %>" style="color:#BDBDBD">
		Click here to add a description
	</div>
	<% end %>
</div>