<div class="single-photo">
	<%= link_to "Previous #{@photo_previous.id}", photo_url(@photo_previous), :method => :get %>
	<%= image_tag @photo.image.url, :class => "single-photo-image" %>
	<%= link_to "Next #{@photo_next.id}", photo_url(@photo_next), :method => :get %>
</div>
<br>