<div class="content-index">
	<h2>Your Photostream</h2>
	<% @photos.each do |photo| %>
		<div class="photo-thumbnail" data-id="photo-<%= photo.id %>">
			<a href="<%= photo_url(photo) %>">
			<%= image_tag photo.image.url(:thumb), :class => "thumbnail-photo" %>
			</a>
			<%= button_to "X", photo_url(photo), :method => :delete %>
		</div>
	<% end %>
</div>
