// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.album-first-photo {
	height: 145px;
}
.album-tile {
	height: 150px;
	width: 199px;
	float: left;
}

.new-album-form {
	width: 99%;
}

.album-tiles {
	width: 100%;
	height: 20%;
}