<form>
	<label for="album_title">Title:</label>
	<input type="text" name="album[title]" id="album_title">
	<br>
	<label for="album_description">Description:</label>
	<textarea cols="40" rows="5" name="album[description]" id="album_description"></textarea>
	<br>
	<input type="submit"  value="Submit">
</form>